/* Remove some nonworking elements from the pages */
#loginBar,
#navigation,
form.searchWrap,
.bugReportBlock,
.howItWorksBlock,
#footer .minorLeftColumn,
#footer .minorRightColumn {
  display: none !important;
}

/* Add a disclaimer at the top of each page */
.flash:before {
  content: 'This is an automated archival page.  There may be broken links or other issues.';
  display: block;

  /* These are copied from .alert and .alert-alert in application.css */
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #7b440f;
  color: #FFF;
  background: #bd712a; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkNzEyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzg2NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #bd712a 0%, #c78649 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd712a), color-stop(100%,#c78649)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bd712a 0%,#c78649 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bd712a 0%,#c78649 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bd712a 0%,#c78649 100%); /* IE10+ */
  background: linear-gradient(to bottom, #bd712a 0%,#c78649 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd712a', endColorstr='#c78649',GradientType=0 ); /* IE6-8 */
}
